---
layout: default
---

<div class="container">
  <h1 class="my-4">Spieleliste</h1>

  <div class="row">
    {% assign sorted_posts = site.posts | sort: 'title' %}
    {% for post in sorted_posts %}
      <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
          <div class="row no-gutters">
            <div class="col-4 d-flex flex-column align-items-center justify-content-center">
              {% if post.image %}
                <img src="{{ post.image }}" class="card-img" alt="{{ post.title }}" style="max-width: 80px; max-height: 80px; margin: 10px;">
              {% endif %}
              <a href="{{ post.url }}" class="btn btn-primary btn-sm mt-2 mb-2">Jetzt beanspruchen</a>
            </div>
            <div class="col-8">
              <div class="card-body">
                <a href="{{ post.url }}">
                  <h5 class="card-title" style="font-size: 1rem;">{{ post.title }}</h5>
                </a>
                <p class="card-text" style="font-size: 0.9rem;">
                  {% if post.description %}
                    {{ post.description }}
                  {% else %}
                    {{ post.content | strip_html | truncatewords: 25 }}
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
          <div class="card-footer text-center">
            <p class="text-muted">
  <small>
    Von <strong>{{ post.author }}</strong> |
    {% assign include_file = post.include_file %}
    {% assign file_info = site.data.include_files[include_file] %}
    {% if file_info %}
      {% assign last_modified = file_info.last_modified %}
      {% if last_modified %}
        Zuletzt aktualisiert:
        <strong class="last-updated" data-last-modified="{{ last_modified }}">
          {% assign day = last_modified | date: "%d" %}
          {% assign month = last_modified | date: "%B" %}
          {% assign year = last_modified | date: "%Y" %}
          {{ day }}. {{ site.data.months.months[month] }} {{ year }}
        </strong>
      {% else %}
        Zuletzt aktualisiert: <strong>Nicht verfügbar</strong>
      {% endif %}
    {% else %}
      Zuletzt aktualisiert:
      <strong>
        {% assign day = post.last_modified_at | date: "%d" %}
        {% assign month = post.last_modified_at | date: "%B" %}
        {% assign year = post.last_modified_at | date: "%Y" %}
        {{ day }}. {{ site.data.months.months[month] }} {{ year }}
      </strong>
    {% endif %}
    <!-- Verstecktes Eingabefeld für include_file -->
    <input type="hidden" name="include_file" value="{{ post.include_file }}">
  </small>
</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>